<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>spitter</display-name>

    <!--<start id="servlet_DispatcherServlet"/>-->
    <servlet>
        <servlet-name>spitter</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!--<end id="servlet_DispatcherServlet"/>-->

    <!--<start id="servletmapping_DispatcherServlet" />-->
    <servlet-mapping>
        <servlet-name>spitter</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <!--<end id="servletmapping_DispatcherServlet" />-->
</web-app>
